<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct control</title>
</head>
<body style="background-color: #202020; color: #ffffff; text-align: center; font-family: monospace; padding-top: calc(50vh - 150px);">
    <h1>Direct control</h1>
    <script>
        function openConnection() {
            if (typeof socket !== 'undefined') {
                if (socket.readyState != socket.CLOSED) {
                    alert('Already connected/connecting..')
                    return
                }
            }

            socket = new WebSocket('ws://' + window.location.host + ':8080');

            socket.addEventListener('open', function (event) {
                console.log('[CONNECTED] Connected to server: ' + socket.url);
                document.getElementsByTagName('h1')[0].style='color: green;'
            });
            
            socket.addEventListener('close', function (event){
                console.log('[CONNECTION CLOSED] The connection was closed: ' + socket.url)
                document.getElementsByTagName('h1')[0].style='color: red;'
            });

            socket.addEventListener('message', function (event) {
                console.log('[RECEIVED] Message from server ', event.data);
            });

            socket.onerror=function() {
                alert('Could not connect..\nIs the server running?');
            }
        }

        function closeConnection() {
            if (typeof socket !== 'undefined') {
                socket.close()
            }
            else {
                alert('No socket found..')
            }
        }
        function sendDirectCommand(cmd) {
            if (typeof socket !== 'undefined' && socket.readyState == socket.OPEN) {
                cmd = '{"direct-command":"' + cmd + '"}'
                socket.send(cmd);
                console.log('[SENT] Sent to server: ' + cmd);
            }
            else {
                alert('No active connection..')
            }
        }
    </script>
    <button onclick="openConnection()">openConnection()</button>
    <button onclick="closeConnection()">closeConnection()</button>
    <br><br>
    <button onclick="sendDirectCommand('on 1')">ON 1</button>
    <button onclick="sendDirectCommand('off 1')">OFF 1</button>
    <br><br>
    <button onclick="sendDirectCommand('on 1,,,')">faster ON 1</button>
    <button onclick="sendDirectCommand('off 1,,,')">faster OFF 1</button>
    <br><br>
    <button onclick="sendDirectCommand('on 2,,,')">ON 2</button>
    <button onclick="sendDirectCommand('off 2,,,')">OFF 2</button>
    <br><br>
    <button onclick="sendDirectCommand('on 3,,,')">ON 3</button>
    <button onclick="sendDirectCommand('off 3,,,')">OFF 3</button>
</body>
</html>