{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct control</title>
    <script src="{% static 'control/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'control/main.css' %}">
</head>
<body style="background-color: #202020; color: #ffffff; text-align: center; font-family: monospace; padding-top: calc(50vh - 150px);">
    <h1>Direct control</h1>
    <button onclick="openConnection()">openConnection()</button>
    <button onclick="closeConnection()">closeConnection()</button>
    <br><br>
    <button onclick="sendDirectCommand('on 1;')">ON 1</button>
    <button onclick="sendDirectCommand('off 1;')">OFF 1</button>
    <br><br>
    <button onclick="sendDirectCommand('on 2;')">ON 2</button>
    <button onclick="sendDirectCommand('off 2;')">OFF 2</button>
    <br><br>
    <button onclick="sendDirectCommand('on 3;')">ON 3</button>
    <button onclick="sendDirectCommand('off 3;')">OFF 3</button>
    <br><br>
    <button onclick="sendDirectCommand('sendIR:FFE01F:32;')">ON PC</button>
    <button onclick="sendDirectCommand('sendIR:FF609F:32;')">OFF PC</button>
    <h1>Alarms</h1>
    {% for alarm in alarms %}
        <h3>{{ alarm.name }} : {{ alarm.time }} Active: {{ alarm.active }}</h3>
        <p>{{ alarm.command }}</p>
    {% endfor %}
</body>
</html>