<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct control</title>
</head>
<body style="background-color: #202020; color: #ffffff;">
    <h1>Direct control</h1>
    <script>
        function openConnection() {
            // Create WebSocket connection.
            socket = new WebSocket('ws://' + window.location.host + ':8080');

            // Connection opened
            socket.addEventListener('open', function (event) {
                socket.send('{"message":"Hello Server!"}');
            });

            // Listen for messages
            socket.addEventListener('message', function (event) {
                console.log('Message from server ', event.data);
            });
        }
        function closeConnection() {
            socket.close()
        }
        function sendDirectCommand(cmd) {
            socket.send('{"direct-command":"' + cmd + '"}')
        }
    </script>
    <button onclick="openConnection()">openConnection()</button>
    <button onclick="closeConnection()">closeConnection()</button>
    <br><br>
    <button onclick="sendDirectCommand('on 2')">on 2</button>
    <button onclick="sendDirectCommand('off 2')">off 2</button>
    <br><br>
    <button onclick="sendDirectCommand('on 3')">on 3</button>
    <button onclick="sendDirectCommand('off 3')">off 3</button>
</body>
</html>